<div v-if="uploadFileSatatus !='loading'" class="personal-car-info-source-img">
    <img v-if="userCar.image_link" class="car-img" :src="'storage/' + userCar.image_link" alt="avatar">
    <img v-else class="car-img" src="images/avatar-ico.png" alt="avatar">
</div>
<div v-else class="personal-car-info-source-img">
    <i class="fa fa-2x fa-spin fa-refresh"></i>
</div>

<div class="car-add-img">
    <upload-file :buttonValue="'Загрузить фото'" :buttonClass="'personal-add-img-btn'" :url="urlUserPhoto"
        :id="userCar.id">
    </upload-file>
</div>