/*Личный кабинет*/

th {
    border-color: #dee2e6!important;
}
footer {
    margin-top: auto;
}
#app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.personal {
    margin-top: 20px;
    margin-bottom: 20px;
}
.personal-header {
    width:100%;
}
.personal-header-text {
    font-style:normal;
    font-weight: bold;
    font-size: 24px;
    color: rgb(5, 71, 82);
    padding-left: 20px;
}
.personal-main {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}


/* Меню*/

.active {
    background-color: rgb(237, 237, 237);
    border-radius: 16px;
}
.personal-main-menu {
    width: 20%;
    height: 100%;
    border-right: 2px rgb(237 237 237) solid;
    margin-right: 20px;
    padding-right: 20px;
}
.personal-main-menu-link{
    margin-bottom: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    font-size: 20px;
}
.btm-go-main:hover {
    color: black;
}

/* Информация */

.personal-main-info {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: relative;
}
.personal-main-info-header {
    display: block;
    margin: 0 auto;
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 40px;

}
.personal-img {
    display: flex;
    margin: 0 auto;
    max-width:200px;
    max-height:200px;
    border-radius: 100px;
    border: 1px rgb(0,175,245) solid;
}
.personal-main-info-data {
    width:100%;
    display: flex;
    flex-direction: row;
}
.personal-main-info-img {
    width:33.33%;
    display: flex;
    flex-direction: column;

}
.personal-add-img-form {
    display: none;
}
.personal-add-img {
    display: flex;
    justify-content: center;
}
.personal-add-img-form {
    margin-top: 10px;
}
.personal-add-img-form-block {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 8px;

}
.personal-add-img-btn-form {
    margin:0 auto;
    height:40px;
    width:60%;
    border-radius: 20px;
    background-color: rgb(0, 175, 245);
    color: white;
    border: 2px  rgb(0, 175, 245) solid;
    text-align: center;
    vertical-align: middle;
    font-size: 12px;
    font-style: normal;
    font-family: Arial;
}
.label {
    height: 36px;
}
.personal-add-img-form-file {
    margin:0 auto;
    height: 36px;
    width:60%;
    border-radius: 20px;
    background-color: rgb(0, 175, 245);
    color: white;
    border: 2px  rgb(0, 175, 245) solid;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-style: normal;
    font-family: Arial;
}
.personal-main-info-individ{
    width:33.33%;
    padding-left: 30px;
    padding-right: 30px;

}
.personal-main-info-individ-head {
    width: 100%;
    color: rgb(151, 151, 151);
}
.personal-main-info-individ-name {
    border-bottom: 1px rgb(221, 221, 221) solid;
    font-size: 20px;
    padding-bottom: 5px;
}
.personal-main-info-contact {
    width: 33.33%;
    padding-left: 30px;
    padding-right: 30px;
}
.personal-main-info-individ-name-form {
    appearance: none;
    border: 0px;
    border-radius: 16px;
    background-color: rgb(237, 237, 237);
    color: rgb(5, 71, 82);
    flex: 1 1 0%;
    font-size: 16px;
    line-height: 20px;
    width: 100%;
    caret-color: rgb(0, 175, 245);
    padding: 16px;
    outline: 0;
}
.personal-main-info-about {
    width: 100%;
    margin-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.personal-main-info-about-head {
    margin: 0 auto;
    color: rgb(151, 151, 151);
    width: 100%;
}
.personal-main-info-about-head-name {
   display: flex;
   justify-content: center;
}
.personal-main-info-about-head-text {
    display: flex;
    justify-content: center;
}
.personal-main-info-about-name-form {
    appearance: none;
    border: 0px;
    border-radius: 16px;
    background-color: rgb(237, 237, 237);
    color: rgb(5, 71, 82);
    flex: 1 1 0%;
    font-size: 16px;
    line-height: 20px;
    width: 100%;
    caret-color: rgb(0, 175, 245);
    padding: 16px;
    outline: 0;
}
.personal-main-info-about-name-form::placeholder {
    color: rgb(5, 71, 82);
    font-family: inherit;
    font-size: 16px;
    line-height: 20px;
}
.personal-main-info-about-name{
    border-bottom: 1px rgb(221, 221, 221) solid;
    font-size: 20px;
    padding-bottom: 5px;
}
.personal-main-info-change {
    margin: 0 auto;
    display: flex;
}
.personal-main-info-change-btn {
    box-sizing: border-box;
    padding: 15px 24px;
    margin: 30px auto;
    border: 1px solid transparent;
    border-radius: 48px;
    font-size: 16px;
    line-height: 1;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    align-items: center;
    transition: max-width 500ms ease-in 0s, background-color 200ms ease-in 0s;
    background-color: rgb(0, 175, 245);
    color: rgb(255, 255, 255);
}
.personal-main-info-change-btn:hover, .personal-add-img-form-file:hover, .personal-add-img-btn-form:hover {
    background-color: rgb(0, 143, 193);
    color: #ffffff!important;
}
.personal-main-info-change-btn label {
    cursor: pointer;
}
input[type="file"]{
    display: none;
}

/* Мой автомобиль */

.personal-car-info-data {
    display: flex;
    width: 100%;

}
.personal-car-info-name {
    width: 50%;
    padding-left: 50px;
    padding-right: 30px;
}
.personal-car-info-statis {
    width: 50%;
    padding-left: 30px;
    padding-right: 50px;
}
.personal-car-info-source {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 40px;
}
.personal-car-info-source-img {
    display: flex;
    width: 100%;
}
.car-img {
    width: 400px;
    height: 400px;
    margin: 0 auto;
    border: 1px rgb(0,175,245) solid;
}
.personal-car-info-source-load {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}
.car-add-img-form {
    width: 100%;
    display: none;
}
.car-add-img {
    display: flex;
    justify-content: center;
}
.car-add-img-form-block {
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
}

/* Мои поездки */


.personal-drive-empty {
    margin: 0 auto;
}
.personal-drive-empty-text {
    color: darkgrey;
    margin-bottom: 40px;
}
.personal-drive-archive {
    width: 90%;
    margin: 0 auto;
}
.isset-drive {
    display: none;
}
.personal-drive-archive-driver {
    color: black;
}
