/*Личный кабинет*/



.personal {
    margin-bottom: 20px;
}

.personal-header {
    width:100%;
    background-color: rgb(0, 175, 245);
}

.personal-header-text {
    font-style:normal;
    font-weight: bold;
    font-size: 30px;
    padding-left: 20px;
    color: white;
}


.personal-main {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}


/* Меню*/

.active {
    background-color: rgb(237, 237, 237);
}

.personal-main-menu {
    width: 20%;
    border: 1px rgb(0,175,245) solid;
    margin-right: 20px;
}


.personal-main-menu-link{
    margin-bottom: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    font-size: 20px;
}
.btm-go-main:hover {
    color: black;
}

/* Информация */

.personal-main-info {
    border: 1px rgb(0,175,245) solid;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.personal-main-info-header {
    display: block;
    margin: 0 auto;
    padding-left: 40px;
    font-size: 40px;
    margin-top: 10px;
    margin-bottom: 50px;

}

.personal-img {
    display: flex;
    margin: 0 auto;
    max-width:200px;
    max-height:200px;
    border-radius: 100px;
    border: 1px rgb(0,175,245) solid;
}



.personal-main-info-data {
    width:100%;
    display: flex;
    flex-direction: row;
}
.personal-main-info-img {
    width:33.33%;
    display: flex;
    flex-direction: column;

}
.personal-add-img-form {
    display: none;
}

.personal-add-img {
   display: flex;
    justify-content: center;
}
.personal-add-img-btn {
    justify-content: center;
    height: 40px;
    width:50%;
    margin-top: 20px;
    border-radius: 20px;
    background-color: rgb(0, 175, 245);
    color: white;
    border: 2px  rgb(0, 175, 245) solid;
}

.personal-add-img-form {
    margin-top: 10px;
}
.personal-add-img-form-block {
   display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 8px;

}

.personal-add-img-btn-form {
    margin:0 auto;
    height:40px;
    width:60%;
    border-radius: 20px;
    background-color: rgb(0, 175, 245);
    color: white;
    border: 2px  rgb(0, 175, 245) solid;
    text-align: center;
    vertical-align: middle;
    font-size: 12px;
    font-style: normal;
    font-family: Arial;
}
.label {
    height: 36px;
}
.personal-add-img-form-file {
    margin:0 auto;
    height: 36px;
    width:60%;
    border-radius: 20px;
    background-color: rgb(0, 175, 245);
    color: white;
    border: 2px  rgb(0, 175, 245) solid;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-style: normal;
    font-family: Arial;
}



.personal-main-info-individ{
    width:33.33%;
    padding-left: 30px;
    padding-right: 30px;

}
.personal-main-info-individ-head {
    color: rgb(221, 221, 221);
}
.personal-main-info-individ-name {
    border-bottom: 1px rgb(221, 221, 221) solid;
    font-size: 20px;
    padding-bottom: 5px;
}
.personal-main-info-contact {
    width: 33.33%;
    padding-left: 30px;
    padding-right: 30px;
}



.personal-main-info-about {
    width: 90%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 20px;
}


.personal-main-info-about-head {
    color: rgb(221, 221, 221);
    margin: 0 auto;
}
.personal-main-info-about-name{
    border-bottom: 1px rgb(221, 221, 221) solid;
    font-size: 20px;
    padding-bottom: 5px;
}

.personal-main-info-change {
    margin: 0 auto;
    display: flex;
}

.personal-main-info-change-btn {
    border-radius: 20px;
    background-color: rgb(0, 175, 245);
    border: none;
    color:white;
    line-height: 40px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.personal-main-info-change-btn:hover, .personal-add-img-btn:hover, .personal-add-img-form-file:hover, .personal-add-img-btn-form:hover {
    transform: scale(1.05);
}


input[type="file"]{
    display: none;
}

/* Мой автомобиль */

.personal-car-info-data {
    display: flex;
    width: 100%;

}

.personal-car-info-name {
    width: 50%;
    padding-left: 50px;
    padding-right: 30px;
}
.personal-car-info-statis {
    width: 50%;
    padding-left: 30px;
    padding-right: 50px;
}
.personal-car-info-source {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}
.personal-car-info-source-img {
    display: flex;
}
.car-img {
    width: 400px;
    height: 400px;
    margin: 0 auto;
    border: 1px rgb(0,175,245) solid;
}
.personal-car-info-source-load {
    width: 40%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding-top: 125px;
}
.car-add-img-form {
    width: 100%;
    display: none;
}
.car-add-img {
    display: flex;
    justify-content: center;
}
.car-add-img-form-block {
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
}